<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qd.demo.mapper.CollegeUserInfoMapper">

<select id="getCollegeStudentsUserNum" resultType="java.util.HashMap" >
	   select count(*)  as value,education as name from user_all where  education like "%大学" and  education != '大学'       group by education order by value desc limit 15;

</select>

<select id="getCollegeUserSexRatio" resultType="java.util.HashMap" >
	  select * from
(
	select education,
	sum(case when sex='male' then 1 else 0 end) as male,
	sum(case when sex='female' then 1 else 0 end) as female,
	sum(case when (sex='male') or (sex='female') then 1 else 0 end) as total
	from user_all
	group by education
)as a
where education != 'NULL' and education  like '%大学' and education != '大学'
order by total desc LIMIT 15;
</select>


</mapper>