<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>ECharts</title>
    <!-- 引入 echarts.js -->
    <script src="/static/js/echarts.min.js"></script>
    <script src="/static/js/jquery.min.js"></script>
</head>
<body>
    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div id="main" style="width: 600px;height:400px;"></div>
	<script type="text/javascript">
		var myChart = echarts.init(document.getElementById('main'));

        $.get('/api/data').done(function (response) {
            myChart.setOption({
                title: {
                    text: response.title.text
                },
                tooltip: {},
                legend: {
                    data:response.legend.data
                },
                xAxis: {
                    data: response.xAxis.data
                },
                yAxis: {},
                series: response.series
            });
        });

        // 使用刚指定的配置项和数据显示图表。
        <!--myChart.setOption(option);-->
	</script>
</body>
</html>